# Keep only pods and deployments folders tracked
*
!configmaps/
!configmaps/**
!deployments/
!deployments/**
!pods/
!pods/**
!services/
!services/**
!statefulsets/
!statefulsets/**
!README.md
!.gitignore

# Ignore the remaining root-level resource folders
common/
#configmaps/
helm/
ingress/
secrets/
storage/
#statefulsets/


# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# VS Code settings
.vscode/

# Editor swap files
*~
*.swp
*.swo
